
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>


    @ViewData["Message"]
    <form id="formLogin" method="post" name="myform">
        <label>User Name: </label>
        <input type="text" name="username" id="username" />
        <label>Password: </label>
        <input type="password" name="password" id="password" />
        <input type="submit" value="Login" id="submit" />
        <input type="reset" value="Reset" />
    </form>
</body>
</html>
