<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITraderFillService" />
                <binding name="basicMarketDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ExchangeSystem/TraderFillService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITraderFillService"
                contract="ServiceReference1.ITraderFillService" name="BasicHttpBinding_ITraderFillService" />
            <endpoint address="http://localhost/ExchangeSystem/MarketDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="basicMarketDataService"
                contract="ServiceReference2.IMarketDataService" name="basicMarketDataService" />
        </client>
    </system.serviceModel>
</configuration>