@{
    ViewBag.Title = "AboutUs";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <title>External Exchange System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://10.207.60.190/ExternalAdminModule/Home"><span class="glyphicon glyphicon-retweet"></span> Exchange PlatForm</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://10.207.60.190/ExternalAdminModule/Home/AboutUs">About Us</a></li>
            </ul>
        </div>
    </nav>
    <div id="mainContainer" class="container">
        <div class="panel panel-default">
            <div class="panel-body">



                <div class="row">
                    <div class="col-sm-5">
                        
                                <img src="http://wallpapercave.com/wp/ffh1UYR.jpg" width="1240" height="300" alt="" class="img-responsive center-block" />
                            
                    </div>

                    <div class="col-sm-7">
                       
                                <h3>About Us</h3>
                                <p>
                                    We are a stock exchange or bourse where stock brokers and traders can buy and/or sell stocks (also called shares), bonds, and other securities. We also provide facilities for issue and redemption of securities and other financial instruments, and capital events including the payment of income and dividends. Securities traded on our stock exchange include stock issued by listed companies, unit trusts, derivatives, pooled investment products and bonds. We often function as "continuous auction" markets, with buyers and sellers consummating transactions at a central location, such as the floor of the exchange.
                                </p>
                           
                    </div>
                </div>


               
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />

    <br />
    <br />
    <br />
    <br />
    <br />


    <footer class="navbar navbar-fixed-bottom">
       
        <div class="row" style="align-self:baseline">
            <div class="col-sm-12">
                <div class="panel panel-default my_panel">
                    <p style="text-align:center">COPYRIGHT 2017</p>
                </div>
            </div>
        </div>
       
    </footer>
</body>
</html>

