@{
    ViewBag.Title = "Index";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <title>External Exchange System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   

</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://10.207.60.190/ExternalAdminModule/Home"><span class="glyphicon glyphicon-retweet"></span> Exchange PlatForm</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://10.207.60.190/ExternalAdminModule/Home/AboutUs">About Us</a></li>
            </ul>
        </div>
    </nav>
    <div id="mainContainer" class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default my_panel">
                            <div class="panel-body">
                                <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/95188-200.png" width="200" height="200" alt="" class="img-responsive center-block" />
                            </div>
                            <div class="panel-footer">
                                <a href="http://10.207.60.190/ExternalAdminModule/Home/Admin"><button type="button" class="btn btn-primary btn-lg">Admin Login</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="panel panel-default my_panel">
                            <div class="panel-body">
                                <img src="https://img.clipartfest.com/17ffd794ed178a64e5c3fffceb2fb2d4_download-exchanges-clipart_400-400.jpeg" width="250" height="250" alt="" class="img-responsive center-block">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mainContainer1" class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default my_panel">

                            <div class="panel-footer">
                                <h3>The company</h3>
                                <p>We are a stock exchange or bourse where stock brokers and traders can buy and/or sell stocks (also called shares), bonds, and other securities.</p>
                                <a href="http://10.207.60.190/ExternalAdminModule/Home/AboutUs">Read More</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <footer class="navbar navbar-fixed-bottom">

        <div class="row" style="align-self:baseline">
            <div class="col-sm-12">
                <div class="panel panel-default my_panel">
                    <p style="text-align:center">COPYRIGHT 2017</p>
                </div>
            </div>
        </div>

    </footer>



</body>


@*<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">*@
</html>

